#!/usr/bin/make -f
#vim:noet

PACKAGE=libapache2-mod-flvx

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

APXS2=/usr/bin/apxs2

build-stamp:
	$(APXS2) -c mod_flvx.c
	touch $@

build: build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp mod_flvx.lo mod_flvx.la mod_flvx.slo .libs
	dh_clean

install-clean:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

install: build install-clean
	mkdir -p $(CURDIR)/debian/$(PACKAGE)/usr/lib/apache2/modules
	cp $(CURDIR)/.libs/mod_flvx.so \
	   $(CURDIR)/debian/$(PACKAGE)/usr/lib/apache2/modules/mod_flvx.so


# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installman
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

